    
    
    
.settings,
.configurator,
.preview {
	 max-width: 1060px;
	 min-width: 800px;
	 margin-right: auto;
	 margin-left: auto;
	 
	 position: absolute; bottom:0; top:145px; left:0; right:0;
}

.settings {
	overflow-y: scroll;
	overflow-x: auto;
}

.settings td,
.configurator td,
.preview {
	vertical-align: top;
}


.extended_stage {
	display: none; /* Hidden by default. Must be activated in configurator.js*/
}


body.scenario_configuration_steps h2 {
	display: block;
	font-size: 24px;
	border-bottom: 1px solid rgba(216, 216, 216, 1);
	padding-bottom: 5px;
	margin-bottom: 10px;
}


.scenario_settings {
  display: block;
  background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
  color: rgba( 216, 216, 216, 1);
  padding: 14px 0 15px 0;
  position: relative;
  border-radius: 5px;
  margin: 0;
}
	
	
	
.wizard_navi_wrapper {
	min-height: 103px;
}

ul.wizard_steps  {
	display: block;
	width: 45em;
	margin: 0 auto;
}

.wizard_steps > li {
	display: block;
	float: left;
	width: 14em;
}

.wizard_steps > li > a,
.wizard_steps > li > span {
	display: block;
	line-height: 27px;
	text-align: left;
	padding: 4px 10px 0 10px;
}

.wizard_steps > li > a {
	cursor: pointer;
	transition: all 0.2s linear ;
	line-height: 27px;
	border: 1px solid rgba(140, 150, 138, 0.33);
	border-bottom: 0;
}

.wizard_steps > li > span {
	background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
	border-top: 1px solid rgba(63, 63, 63, 1);
	color: rgba(216, 216, 216, 1);
	border-bottom: 0;
}

.wizard_steps > li:not(.no_link) > a:hover,
.wizard_steps > li:not(.no_link) > a:focus {
	background-color: rgba( 238, 236, 225, 1);
}

.wizard_steps > li.no_link{
  opacity: 0.33;
}



.wizard_steps > li:first-child > a,
.wizard_steps > li:first-child > span {
	border-radius: 5px 0 0 0;
	border-right: 0;
}

.wizard_steps > li:last-child > a,
.wizard_steps > li:last-child > span {
	border-radius: 0 5px 0 0;
	border-left: 0;
}
    	
   	ul.buttonsbar > li {
   		float: left;
  		margin: 0;
   	}
   	
   	ul.buttonsbar > li > a.button {
   		border-right-width: 0;
		border-radius: 0;
		margin-left: 0;
		margin-right: 0;
	}
	
	ul.buttonsbar > li:first-child > a.button {
		border-top-left-radius: 5px;
 			border-bottom-left-radius: 5px;
	}
	
   	ul.buttonsbar > li:last-child > a.button {
   		border-right-width: 1;
		border-top-right-radius: 5px;
 			border-bottom-right-radius: 5px;
	}

	
	ul.dropdown-menu {
		background-color: rgb(255, 255, 255);
		border: 1px solid rgba(0,0,0,.2);
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		-webkit-transition: opacity .218s;
		transition: opacity .218s;
		position: absolute; top: 40px;
		z-index: 5;
	}
	
	ul.dropdown-menu li {
		line-height: 3.5ex;
		padding-left: 12px;
		padding-right: 10px;
	}
	
	ul.dropdown-menu a {
		color: rgba(35, 119, 160, 1)!important;
	}
	
	ul.dropdown-menu a:hover, ul.dropdown-menu a:active {
		color: rgba(0, 0, 0, 1)!important;
	}
			
	ul.dropdown-menu li:hover {
		background-color: rgba( 238, 236, 225, 1);
	}
	

	ul.scenario_setting_list label {
	    white-space: nowrap; 
	}
	
	ul.scenario_setting_list .basis {
	    float: left;
	    width: 25%;
	    padding-right: 9px;
	    line-height: 35px;
	}
	
	ul.scenario_setting_list .value {
		float: left;
		width: 70%;
		line-height: 35px;
	}
	
	
		
	ul.scenario_setting_list .value input {
	 	margin: 0;
	}
	
	ul.scenario_setting_list .value textarea {
		margin-top: 5px;
		padding-top: 4px;
	 	width: 95%;
	}
	
	.problem {
	  	box-shadow: 0 0 8px rgba(192, 80, 77, 1);
	}
	
	.models_base .problem {
		box-shadow: none;
	}
	
	h4 {
		font-weight: bold;
		border-bottom: 1px solid rgba(140, 150, 138, 1);
		margin-bottom: 1px;
		margin-top: 1.5ex;
	}
	
	.annotation {
		display: block;
		font-style: italic;
		color: rgba(192, 80, 77, 1);
	}
	
	ul.setting_list .basis {
	    float: left;
	    width: 50%;
	    padding-right: 9px;
	    line-height: 35px;
	}
	
	ul.setting_list .value {
		float: left;
		width: 40%;
		line-height: 35px;
	}


.storyboards_base > h3 {
	position: relative;
	margin-left: 7px;
 	background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
	color: rgba( 216, 216, 216, 1);
	border-color: rgba(63, 63, 63, 1);
  	font-size: 14px;
	line-height: 22px;
	height: 26px;
}


.storyboards_base > h3[aria-expanded="false"] {
	margin: 0 0 14px 10px;
}

.storyboards_base > h3 > span {
	display: block;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	padding: 2px 0 0 0;
	margin-left: 5px;
	margin-right: 5px;
}

.storyboards_base > h3[aria-expanded="true"] > a {
	background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
	color: rgba( 216, 216, 216, 1);
	cursor: default;
	border-color: rgba(63, 63, 63, 1);
	text-decoration: none;
}

.storyboards_base > h3[aria-expanded="false"] > a {
	border-color: rgba(140, 150, 138, 0.33);
	background-color: transparent;
}

.storyboards_base > h3[aria-expanded="false"]:hover > a,
.storyboards_base > h3[aria-expanded="false"]:focus > a {
	background-color: rgba( 238, 236, 225, 1);
}

.storyboards_base h3 .category_path_selection {
  display: block;
  position: absolute;
  right: 10px;
  top: 1px;
}

.storyboards_base h3 .category_path_selection label {
	font-size: 12px;
	font-style: italic;
	color: rgba( 216, 216, 216, 1);
	font-weight: normal;
}

.storyboards_base h3 .category_path_selection select {
	width: 139px;
}

.storyboards_base h3[aria-expanded="false"] .category_path_selection {
  display: none;
}

.storyboards_base h3 span.img {
	background: transparent url("../img/yoosprite.png") no-repeat -156px -22px;
	width: 16px;
	height: 16px;
	padding: 0;
	position: relative;
	top: 4px;
	right: 4px;
	cursor: pointer;
}

.storyboards_base > div > ul {
	display: block;
	margin: 12px 0 12px 9px;
}

.storyboards_base > div > ul > li {
	display: block;
	float: left;
}

.models_base > h3 {
	display: block;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	padding: 2px 5px 0 10px;
	background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
	color: rgba( 216, 216, 216, 1);
	border: 1px solid rgba(63, 63, 63, 1);
}

.models_base > h3 span {
	display: inline-block;
}

.models_base > h3 > label {
	display: inline-block;
	float: right;
}

.models_base > h3 > label > span {
	font-size: 12px;
	font-style: italic;
}

.models_base > h3 select {
	margin: 0;
	width: 120px;
}

.models_groups {
  display: block;
  padding-top: 7px;
}

.models_groups > li > h4,
.models_used > li > h4,
.filters_group h4 {
  font-weight: bold;
  border-bottom: 1px solid rgba(140, 150, 138, 1);
  margin-right: 15px;
  margin-bottom: 1px;
}

.ui-stage ul li {
	padding-right: 12px;
}

.ui-stage ul li:last-child {
	padding-right: 0;
}

.empty_model_place {
	width: 160px;
	height: 160px;
	display: block;
	border: 1px dashed rgba(140, 150, 138, 0.33);
	border-radius: 10px;
	text-align: center;
	padding: 0;
	font-size: 18px;
	color: rgba(140, 150, 138, 0.5);
}

.empty_model_place div {
	padding-top: 55px!important;
}


.empty_model_place.deploy > span {
	display: none;
}


.placed_model {
  width: 160px;
  height: 160px;
  display: block;
  border: 1px solid rgba(216, 216, 216, 1);
  border-top: 1px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  padding: 0 0 16px 0;
  position: relative;
  overflow: hidden;
}


.placed_model .destroy_placed_model {
	top: 5px;
	right: 2px;
	z-index: 2;
}


.placed_model h4,
.placed_model h5 {
  display: block;
  background-color: rgba(216, 216, 216, 1);
  color: rgba(6, 9, 4, 1);
  margin:  0px 0 11px 0;
  padding: 10px 0 8px 7px;
  border-left: 5px solid transparent;
  border-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}


.placed_model .right-shadow {
	display: block; 
	position: absolute; 
	width: 20px; 
	right: 0; top: 0; bottom: 0;
	background-image: linear-gradient(to left, rgb(216, 216, 216), rgba(216, 216, 216, 0.8), transparent);
	z-index: 1;
}

.placed_model.partly_available h4,
.placed_model.partly_available h5 {
  border-left-color: rgba(253, 252, 158, 1);
}

.placed_model.ready_to_use h4,
.placed_model.ready_to_use h5 {
  border-left-color: rgba(180, 216, 170, 1);
}

.placed_model.problem h4,
.placed_model.problem h5 {
  border-left-color: rgba(253, 158, 158, 1);
}

.placed_model form {
  display: block;
  padding: 0 14px;
}

.placed_model form ul {
  display: block;
  padding-bottom: 10px;
}

.placed_model form ul li {
  display: block;
  font-size: 12px;
  line-height: 15px;
}

.placed_model form ul li.checkbox {
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(140, 150, 138, 0.33);
  margin-bottom: 4px;
}

.placed_model form ul li.checkbox input {
  margin-right: 5px;
}

ul.placed_model_settings > li {
  float: left;
  width: 100%;
}

ul.placed_model_settings > li.context_options > label {
  display: block;
}

ul.placed_model_settings > li.context_options > label > input {
  margin-left: -1px;
}

ul.placed_model_settings > li.spinner > div > input {
	margin-top: 2px;
	font-size: 12px;
}

ul.placed_model_settings > li.usesubmodels > div {
	margin-bottom: 5px;
  position: relative;
}

ul.placed_model_settings > li.usesubmodels > div > label {
  display: inline-block;
	font-weight: normal;
  padding-left: 18px;
}

ul.placed_model_settings > li.usesubmodels > div > input {
	vertical-align: middle;
	margin: 0 2px 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

.placed_model form ul li > div {
  display: block;
  padding-right: 10px;
}


.placed_model > p.description {
	display: block;
	padding: 8px 14px 0 14px;
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
  	overflow: hidden;
}

.placed_model select,
.placed_model input[type="number"] {
  width: 100%;
  display: inline-block;
}


.placed_model select {
	padding-top: 1px;
	padding-bottom: 1px;
	height: auto;
}


.model {
  display: block;
  position: relative;
  border: 1px solid rgba(140, 150, 138, 0.33);
  border-radius: 10px;
  margin: 11px 15px 0 0;
  padding: 0 0 0em 0;
  cursor: move;
  overflow: hidden;
}


.model h5 {
  font-size: 12px;
  line-height: 20px;
  display: block;
  background-color: rgba(216, 216, 216, 1);
  color: rgba(6, 9, 4, 1);
  padding: 2px 9px 2px 4px;
  border-left: 5px solid transparent;
  overflow: hidden;
}

.model > div:hover,
.grouping_attributes{
    min-height: 45px;
}
	
.model.ready_to_use h5 {
  border-left-color: rgba(180, 216, 170, 1);
}

.model.needs_building h5 {
  border-left-color: rgba(253, 252, 158, 1);
}

.model.problem h5 {
  border-left-color: #C0504D;
}

.model p {
  display: block;
  padding: 4px 8px 4px 8px;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
  overflow: hidden;
}

.model a.configure_model {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	cursor: pointer;
}

.model a.configure_model span.alt {
	display: none;
}

.model a.configure_model span.img {
	background: transparent url("../img/yoosprite.png") no-repeat -156px -22px;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}


.model a.configure_model_new:hover,
.model a.configure_model_new:focus {
  background-color: rgba( 238, 236, 225, 1);
}


.model .config{
	position: absolute;
	bottom: 0;
	height: 1.6em;
	width: 100%; 
/* 	padding:0.2em; */
/* 	background-color: grey; */
	border-top: 1px solid grey;
	
}

.model .info{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}
	
	
	
.preview_settings > li {
	display: block;
	padding-bottom: 6px;
}


.preview_settings .basis {
	display: block;
	float: left;
}


.preview_settings .basis > h3 {
	display: block;
	padding-right: 10px;
	padding-top: 2px;
	text-align: right;
	font-weight: normal;
	line-height: 30px;
}

.preview_settings .value {
	margin-left: 200px;
}

.preview_settings .select_field .value > div {
	margin: 0 -9px 0 0;
	padding-left: 9px;
}


.preview_settings div.value input[type="number"],
.preview_settings div.value input[type="text"],
.preview_settings div.value textarea,
.preview_settings div.value .content {
	padding: 0 7px 0 10px;
	width: 170px;
}

.preview_settings div.value select {
	padding: 0 7px 0 10px;
	width: 188px;
}

.preview_settings .value > div > textarea {
	padding-top: 5px;
}


#model_configuration_classic {
	padding: 40px;
	position: relative;
    background: white url("../img/rauschen.png") repeat left top;
	box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
	border: 1px solid #000000;
	border-radius: 6px; 
}

#model_configuration_classic h2 {
    display: block;
    font-size: 24px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    padding-bottom: 5px;
    margin: 0 0 10px 0;
}

#model_configuration_classic h3 {
  	display: block;
	background: none;
  	color: inherit;
  	padding: 0;
  	position: inherit;
  	text-shadow: none;
  	font-size: 18px;
  	margin: 40px 0 20px;
}

#model_configuration_classic p {
	margin-bottom: 10px;
}


#model_configuration_classic .relevance {
  display: block;
  padding: 20px;
}


#model_configuration_classic .relevance select {
  margin-right: 20px;
}


#model_configuration_classic .filters_base {
  width: 100%;
}

.filters_base input[type="number"],
.filters_base input[type="text"],
.filters_base input:not([type])
{ height: 1.5em; }




.editorial_list{
    display: block;
    float: left;
    width: 23em;
    margin: 10px;
    box-sizing: border-box;
}

.editorial_list .listHead{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
    color: rgba( 216, 216, 216, 1);
    border: 1px solid rgba(63, 63, 63, 1);
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;

}

.editorial_list .listHead span, .editorial_list ul span {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 0px;
    vertical-align: bottom;
    white-space: nowrap;
}

.editorial_list .listHead span.idCol, .editorial_list ul span.idCol {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 5px;
    vertical-align: bottom;
    white-space: nowrap;
}

.editorial_list ul li{
    white-space: nowrap;
}

.idCol{
    width: 7em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.titleCol{
    width: 14.5em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.deleteCol{
    width: 1em;
    text-align: center;
}

.editorial_list ul{
    clear: both;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px dotted #000000;
    border-radius: 5px;
}

.editorial_list ul li{
    display: block;
    list-style: none;
    background: white url("../img/rauschen.png") repeat left top;
    cursor: move;
}

.editorial_list ul li .deleteCol{
    cursor: pointer;
}

.editorial_list .deleteItem:hover{
    color: #ff0000;
}

	