

.login_center {
  display: block;
  width: 60em;
  margin: 0 auto;
  text-align: center;
  border-spacing: 10px;
  border-collapse: separate;
}


.login_center td {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  
  border: 1px solid rgba(140, 150, 138, 0.33);

  background-color: white;
}

.login_center td:first-child {
	  border-top-left-radius: 10px;
	  border-bottom-left-radius: 10px;
}

.login_center td:last-child {
	  border-top-right-radius: 10px;
	  border-bottom-right-radius: 10px;
}


.login_center h3 {
  display: block;
  background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
  color: white;
  line-height: 40px;
  margin: 20px 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 1);
}

.login_center p {
  display: block;
  margin-bottom: 15px;
}

.login_center div {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 6px;
}

.login_center div > label {
  position: absolute;
  padding-left: 1em;
  text-align: left;
  left: 0;
  top: 3px;
  width: 30%;
}

.login_center div > .reset_password {
  display: block;
  position: absolute;
  left: 70%;
  top: 8px;
  padding-left: 20px;
  font-size: 12px;
}

.login_center div > input {
  width: 40%;
}

.login_center div > p {
  padding: 0 20px;
}

.login_center div em {
  font-style: italic;
}

.login_center div.actions {
  margin: 10px 0;
}

.login_center > a {
  display: inline-block;
  padding: 5px;
  margin-top: 40px;
}



.login_message {
  display: block;
  width: 50%;
  text-decoration: none;
  color: rgba(70, 78, 66, 1);
  background-color: transparent;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 auto;
}

.login_message > p {
  display: block;
  padding: 20px;
  border-radius: 10px;
}

.login_message.neutral > p {
  background-color: rgba(248, 98, 93, 1);
}

.login_message.problem > p {
  background-color: rgba( 192,  80,  77, 1);
  color: white;
}

.login_message.problem > p > span, .message.info > p > span {
  display: block;
}

.login_message.positive > p, .message.info > p {
  background-color: rgba( 218, 236, 213, 1);
}