

#editDataOverlay h2 {
	margin-top: 10px;
	margin-bottom: 15px;
}

#personal_details img.sso-icon {
	position: absolute; left: 0; top: 0; width: 50px; height: 50px; border-radius: 5px;
}


#licenceKeyId {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
}


#licenceKeyId > .content{
	position: absolute;
    display: inline-block;
    top: 20em;
    padding: 2em;
    width: 20em;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
    border: 1px solid #000000;
    border-radius: 6px;
}


#licenceKeyId h2{
    margin-bottom: 1em;
    border-bottom: 2px solid gray;
    text-align: left;
    font-weight: 700;
    font-size: 1.3em;
}


#pactasPopup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
}


#pactasPopup > .content{
	position: absolute;
    display: inline-block;
    top: 20px;
    bottom: 20px;
    left: 5em;
    right: 5em;
    overflow: auto;
    background: #FFF;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
    border: 1px solid #000000;
    border-radius: 6px;
    overflow-y:hidden; 
    overflow-x:hidden;
}


#pactasPopup a.closeOverlay {
	display: block;
	padding: 10px;
	z-index: 11;
	
	position:absolute;
	right: 1em;
	top: 20px;
	width: 1.3em;

    background: #FFF;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
    
    border: 1px solid #000000;
    border-radius: 6px;
}