

.change_password {
  display: block;
  width: 40em;
  margin: 0 auto;
  text-align: center;
  border-spacing: 10px;
  border-collapse: separate;
  border: 1px solid rgba(140, 150, 138, 0.33);
  border-radius: 10px;
  background-color: white;
  padding-bottom: 1em;
}


.change_password h3 {
  display: block;
  background: rgba(63, 63, 63, 1) url("../img/rauschen.png") repeat left top;
  color: white;
  line-height: 40px;
  margin: 20px 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 1);
}

.change_password p {
  display: block;
  margin-bottom: 15px;
}

.change_password div {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 6px;
}

.change_password div > label {
  position: absolute;
  padding-left: 1em;
  text-align: left;
  left: 0;
  top: 3px;
  width: 30%;
}


.change_password div > input {
  width: 40%;
}

.change_password div > p {
  padding: 0 20px;
}

.change_password div em {
  font-style: italic;
}

.change_password div.actions {
  margin: 10px 0;
}

.change_password > a {
  display: inline-block;
  padding: 5px;
  margin-top: 40px;
}


.login_message {
  display: block;
  text-decoration: none;
  color: rgba(70, 78, 66, 1);
}

.login_message > p {
  display: block;
  padding: 20px;
}

.login_message.neutral > p,
.login_message.warning > p,
.login_message.neutral > p a,
.login_message.warning > p a {
  background-color: #FFC700;
  color: black;
}

.login_message.problem > p,
.login_message.error > p,
.login_message.negative > p,
.login_message.problem > p a,
.login_message.error > p a,
.login_message.negative > p a {
  background-color: rgba( 192,  80,  77, 1);
  color: white;
}

.login_message.positive > p, 
.login_message.info > p,
.login_message.positive > p a, 
.login_message.info > p a {
  background-color: rgba( 218, 236, 213, 1);
  color: black;
}

