<div class="container">
    <form role="form" class="form" name="payment.form">
        <div class="row">
            <div class="form-group col-sm-12" show-errors>
                <label for="paymentselect" class="control-label" translate="payment_method"></label>
                <select name="paymentselect" id="paymentselect" class="form-control" data-ng-model="payment.bearer" auto-focus>
                    <option data-ng-repeat="pm in paymentMethodEnum" value="{{pm}}">{{paymentMethodNames[pm] || pm }}</option>
                </select>
            </div>

            <div class="payment-elv" data-ng-show="isDebit()">
                <div class="form-group col-sm-12" show-errors>
                    <label for="accountHolder" class="control-label" translate="account_holder"></label>
                    <input data-ng-model="payment.accountHolder" ng-required="isDebit()" id="accountHolder" name="accountHolder" type="text" class="form-control" placeholder="{{'account_holder' | translate}}" />
                </div>
                <div class="form-group col-sm-6" show-errors>
                    <label for="accountNumber" class="control-label" translate="account_number"></label>
                    <input data-ng-model="payment.bankAccountNumber" ng-required="isDebit()" id="accountNumber" name="accountNumber" maxlength="10" type="text" class="form-control" placeholder="{{'account_number' |translate}}" />
                </div>
                <div class="form-group col-sm-6" show-errors>
                    <label for="bankRoutingCode" class="control-label" translate="bank_routing_code"></label>
                    <input data-ng-model="payment.bankRoutingCode" ng-required="isDebit()" id="bankRoutingCode" name="bankRoutingCode" maxlength="8" type="text" class="form-control" placeholder="{{'bank_routing_code' | translate}}" />
                </div>
            </div>
            <div class="payment-cc" data-ng-show="isCreditCard()">
                <!-- Note that the input fields don't have a 'name' set, rendering it impossible for the browser
                to post these fields even if something went wrong in our first line of defense of not having
                an action on the form. -->
                <div class="form-group col-sm-12" show-errors>
                    <label for="email" class="control-label" translate="card_holder"></label>
                    <input ng-model="payment.cardHolder" ng-required="isCreditCard()" type="text" class="form-control" id="cardholder" name="cardholder" placeholder="{{'card_holder' | translate}}" />
                </div>
                <div class="form-group col-xs-8 col-sm-7" show-errors>
                    <label for="ccno" class="control-label" translate="card_number"></label>
                    <input ng-model="payment.cardNumber" ng-required="isCreditCard()" type="credit card" class="form-control" id="ccno" name="ccno" placeholder="{{'card_number' | translate}}" payments-type-model="payment.cardtype" />
                </div>
                <div class="form-group col-xs-4 col-sm-2" show-errors>
                    <label for="cvc" class="control-label">CVC</label>
                    <input data-ng-model="payment.cvc" ng-required="isCreditCard()" type="cvc" class="form-control" id="cvc" name="cvc" placeholder="CVC" maxlength="4" />
                </div>
                <div class="col-xs-12 col-sm-3 form-group" show-errors>

                    <label for="validto" class="control-label" translate="card_expires"></label>
                    <input class="form-control" placeholder="MM/YY" type="text" name="validto" ng-model="validto" ui-mask="99/99" ui-validate="'validateExpiry($value)'"></input>

                </div>
                
            </div>
            <div class="form-group" show-errors>
                <div class="checkbox col-xs-12">
                    <label class="checkbox" for="termsAccepted">
                        <input type="checkbox" required="required" ng-model="termsAccepted" name="termsAccepted" id="termsAccepted" />
                        <span translate="accept_terms" translate-compile></span>
                    </label>
                </div>
            </div>
            <error cause="errorCode" ng-if="errorCode"></error>
{{payment.form.year.$valid}}
            <div class="clearfix"></div>
            <div class="form-group col-sm-2 col-sm-offset-10">
                <button class="btn btn-primary pull-right" ng-disabled="!ready || signupRunning " ng-click="checkout()" type="submit" translate="signup_button"></button>
            </div>
        </div>
    </form>

</div>
