            <div class="jumbotron" style="margin-top: -20px;">
		<div class="container">
		     <h1>{{'finished_header' |translate}}</h1>
                     <p>{{'finished_header_small' | translate}}</p>
		</div>
            </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
<div class="col-sm-12">
  <div class="panel panel-success">
    <div class="panel-heading">
       {{'order_confirm' | translate}}
    </div>
     <div class="panel-body">
         <ul class="list-group">
    <li class="list-group-item">{{'show_customerid' | translate}} {{customerid}}</li>
    <li class="list-group-item">{{'show_contractid' | translate}} {{contractid}}</li>
    <li class="list-group-item">{{'show_orderid' | translate}} {{orderid}}</li>
    <li class="list-group-item">
        {{'show_mandatorid' | translate}} <i ng-show="!mandatorid" class="fa-refresh fa fa-spin"></i> {{mandatorid}}
             
        </li>
  </ul>
          </div>
  </div>
</div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2>{{'docs_header' | translate}}</h2>
          <p>{{'docs_teaser' | translate}}</p>
          <p><a class="btn btn-default" href="https://doc.yoochoose.net/" role="button">{{'docs_button' | translate}} »</a></p>
        </div>
        <div class="col-sm-6">
          <h2>{{'dashboard_header' | translate}}</h2>
          <p>{{'dashboard_teaser' | translate}}</p>
          
          <p><a class="btn btn-default" href="http://admin.yoochoose.net/" role="button" ng-disabled="!setupFinished"><i ng-show="!setupFinished" class="fa-refresh fa fa-spin"> </i>{{'dashboard_button' | translate}} »</a></p>
        </div>
      </div>
    </div>

            

