            <div class="jumbotron">
		<div class="container">
		     <h1>Thats it!</h1>
                     <p>You successfully subscribed to Yoochoose Recommendation Engine!</p>
		</div>
            </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Learn</h2>
          <p>Yoochoose recommendation service offers a vast set of features. Learn all about scenarios, models and A/B tests...</p>
          <p><a class="btn btn-default" href="https://doc.yoochoose.net/" role="button">Documentation »</a></p>
        </div>
        <div class="col-md-6">
          <h2>Dive In</h2>
          <p>Create and configure scenarios, review statistics and access your contract details and invoices.</p>
          
          <p><a class="btn btn-default" href="http://admin.yoochoose.net/" role="button">Dashboard »</a></p>
       </div>
      </div>
    </div>

            

