          <div class="row">
            <div class="col-sm-12 alert alert-success">
              <div class="page-header col-sm-12">
		      <h1>Thats it! <br/> <small>You successfully subscribed to Yoochoose Recommendation Engine!</small>
                </h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 well">
              <div class="row">
                <div class="col-sm-6">
                  Your contract number:
                </div>
                <div class="col-sm-6">
                  {{signupdata.ContractId}}
                </div>
                <div class="col-sm-6">
                  Your customer id:
                </div>
                <div class="col-sm-6">
                  {{signupdata.CustomerId}}
                </div>
                <div class="col-sm-6">
                  Your order id:
                </div>
                <div class="col-sm-6">
                  {{signupdata.OrderId}}
                </div>
                <div class="col-sm-6">
                  Your mandator id:
                </div>
                <div class="col-sm-6">
                  {{mandatorid}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              links----
            </div>
          </div>

