<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ycBookingApp" ng-controller="TabCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
<nav class="navbar navbar-default" role="navigation" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="#">
	      Yoochoose GmbH
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="navbarCollapsed">
<ul class="nav navbar-nav" >
	<li ng-repeat="tab in tabs" active="tab.active" disabled="!tab.isEnabled($index)" deselect="tab.deselect($index)" ng-init="index = {i: $index}">
	<a ui-sref="{{tab.id}}">
			<i class="fa fa-{{tab.icon}}"></i> {{tab.title}}
		</a>
	</li>
      </ul>

    </div>
</nav>
<div ui-view></div>
<!--      <div class="row">
        <h3 class="col-sm-12">Booking</h3>
      </div>
      <div class="row" ng-controller="bookingCtrl">
        <tabset class="col-sm-12" type="tabs" justified="true" ng-hide="isSuccess">
          <tab ng-repeat="tab in tabs" active="tab.active" disabled="!isEnabled($index)" deselect="deselect($index)" ng-init="index = $index">
            <tab-heading>
              <i class="fa fa-{{tab.icon}}"></i>{{tab.title}}
            </tab-heading>
            <yc-isolate ng-attr-id="tab.id">
              <div style="padding-top: 5px;" ng-include="tab.template"></div>
            </yc-isolate>
          </tab>
        </tabset>
        <div ng-show="isSuccess">
          <div class="row">
            <div class="col-sm-12 alert alert-success">
              <div class="page-header col-sm-12">
                <h1>Thats it!<small>You successfully subscribed to Yoochoose Recommendation Engine!</small>
                </h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 well">
              <div class="row">
                <div class="col-sm-6">
                  Your contract number:
                </div>
                <div class="col-sm-6">
                  {{signupdata.ContractId}}
                </div>
                <div class="col-sm-6">
                  Your customer id:
                </div>
                <div class="col-sm-6">
                  {{signupdata.CustomerId}}
                </div>
                <div class="col-sm-6">
                  Your order id:
                </div>
                <div class="col-sm-6">
                  {{signupdata.OrderId}}
                </div>
                <div class="col-sm-6">
                  Your mandator id:
                </div>
                <div class="col-sm-6">
                  {{mandatorid}}
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              links----
            </div>
          </div>
        </div>
      </div>
    </div>

    -->    
    <!-- /.container -->


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-payments/lib/angular-payments.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors/src/showErrors.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/checkout.js"></script>
        <script src="scripts/controllers/billing.js"></script>
        <script src="scripts/controllers/account.js"></script>
	<script src="scripts/controllers/booking.js"></script>
        <script src="scripts/services/scopecast.js"></script>

        <script src="scripts/controllers/tab.js"></script>
        <script src="scripts/services/checkout.js"></script>
<script src="scripts/services/tab.js"></script>
	<!-- endbuild -->

	<script type="text/javascript" src="https://sandbox.pactas.com/selfService/iterojs"></script>

<script type="text/javascript">document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')</script>


  </body>

</html>
